:root {
    --clr-primary: #1992d4;
    --clr-secondary: #d97706;
    --clr-light: #fff;
    --clr-dim: #e2e8f0;
    --clr-dark: #111;
    --card-radius: 0.8rem;

    font-size: 62.5%;
}

* {
    /*border: 1px solid black;*/
    font-family: 'Roboto';
}
body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    background-color: var(--clr-primary);
}

.profile {
    border-radius: 50%;
    object-fit: cover;
    width: 6rem;
    aspect-ratio: 1;
}

.profile.profile-sm {
    width: 4rem;
}

a {
    text-decoration: none;
}

aside {
    background-color: var(--clr-primary);
    padding: 2rem;
    position: sticky;
    margin: 0;
    top: 0;
}

svg {
    height: 2.5rem;
    fill: var(--clr-dark);
}

aside svg {
    fill: var(--clr-light);
}

.logo a{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 3rem;
}

.logo svg {
    height: 5rem;
}

.logo h3 {
    margin: 0;
    padding: 0;
    color: var(--clr-light);
    font-size: 3rem;
}

nav {
    padding-left: 2rem;
}

nav a {
    display: flex;
    gap: 2rem;
    color: var(--clr-light);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

a[title='Communities'] {
    margin-bottom: 5rem;
}

.top-panel, .sticky-panel {
    padding:0 5rem;
    background-color: var(--clr-light);
}

.top-panel {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
}

.top-panel form {
    flex: 1;
    display: flex;
    background-color: var(--clr-light);
}

.top-panel svg {
    fill: var(--clr-dark);
}

.top-panel span {
    color: var(--clr-dark);
    font-weight: 800;
    font-size: 1.6rem;
}

button {
    all: unset;
    font-weight: 600;
}

button#notification {
    margin-left: 3rem;
}

.input-icon {
    position: absolute;
    min-width: 2rem;
    padding: 1rem;
}
.input-search {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    padding: 0.5rem 1rem 0.5rem 4rem;
    border: 1px solid var(--clr-dark);
    border-radius: 2rem;
}

.top-panel form input {
    flex: 1;
}

.sticky-panel {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 4rem;
    box-shadow: 0 10px 10px -10px gray;
}

.sticky-panel button {
    background-color: var(--clr-primary);
    padding: 1rem 3rem;
    border-radius: 3rem;
    color: var(--clr-light);
    font-size: 1.6rem;
}

.sticky-text {
    flex: 1;
}

.sticky-text p {
    color: var(--clr-dark);
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

.sticky-text h3 {
    color: var(--clr-dark);
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
}

section, footer {
    background-color: var(--clr-dim);
}

section {
    padding: 0 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 2fr 1fr;
}

section h2 {
    font-size: 2.4rem;
}

.cards {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.card {
    background-color: var(--clr-light);
    border-radius: var(--card-radius);
    box-shadow: 1px 1px 5px gray;
}

.card.card-project {
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-template-rows: 1fr 5rem;
    gap: 2rem;
    padding-right: 3rem;
}

.color-block {
    grid-row: span 2;
    border-radius: var(--card-radius) 0 0 var(--card-radius);
    background-color: var(--clr-secondary);
}

.text-block {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.card h3 {
    font-size: 2rem;
    margin: 0;
}

.card p {
    font-size: 1.6rem;
    color: gray;
    flex: 1;
}

.card .buttons {
    display:flex;
    gap: 1rem;
    justify-content: flex-end;
}

button:hover {
    cursor:pointer;
}

.card#announcements {
    padding: 1rem 2rem;
    margin-bottom: 5rem;
}

.announcement h4 {
    font-size: 1.6rem;
    margin: 2rem 0 0;
    padding: 0;
}

.announcement p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card#trending {
    padding: 1rem 2rem;
}

.line {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.line:last-of-type {
    margin-bottom: 0;
}

.line .handle {
    font-size: 1.6rem;
}

.line .status {
    font-size: 1.6rem;
    color: gray;
}

footer {
    padding: 5rem 0 2rem;
    font-size: 2rem;
    text-align: center;
    color: gray;
}